/*NOTE Removes page styling */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
} */

/* default page colors using var */
:root {
  --primary-color: #6e1dc5;
  --secondary-color: #c0c0c0;
  --secondary-color-10: #c0c0c02c;
  --tertiary-color: #333;
  --green: #7bc950;
  --blue: #2d2b75;
  --red: #e92f5e;
  --yellow: #fbcf7f;
  --orange: #fca723;
  --light-blue: #87ceeb;
}

/*SECTION Navigation Menu - BEGIN */

/*NOTE Navigation bar */
.navMenu {
  position: fixed;
  margin: 18px;
}

/*SECTION Hamburger Style - BEGIN */

/*NOTE Hamburger icon */
/* Targets the container of the menu icon, applying a flexbox layout to arrange its children */
.menu-icon {
  display: flex; /* Enables flexbox layout */
  flex-direction: column; /* Stacks flex items vertically */
  justify-content: space-between; /* Distributes space evenly between the items, creating gaps */
  width: 30px; /* Sets the total width of the hamburger icon */
  height: 30px; /* Sets the total height of the hamburger icon */
  cursor: pointer; /* Changes the cursor to a pointer to indicate it's clickable */
  z-index: 20;
  position: absolute;
}

/*NOTE arrow bar */
/* Common styles for the bars of the hamburger menu */
.bar,
.arrow-bar .bar {
  height: 4px; /* Sets the thickness of each bar */

  width: 30px; /* Defines the width of each bar */
  position: relative; /* Sets the positioning context for pseudo-elements */
}

/*NOTE arrow bar top/bottom */
.top-bar {
  background-color: var(--red); /* Sets the color of the bars */
  transition: 0.4s;
}

.bottom-bar {
  background-color: var(--light-blue); /* Sets the color of the bars */
  transition: 0.4s;
}

.top-bar.open,
.bottom-bar.open {
  background-color: var(--green);
  transition: 0.4s;
}

.bottom-bar.open {
  background-color: var(--orange);
  transition: 0.4s;
}

/*NOTE arrow bar middle */
.middle-bar {
  height: 4px; /* Sets the thickness of each bar */
  background-color: var(--primary-color);
  width: 30px; /* Defines the width of each bar */
  position: relative; /* Sets the positioning context for pseudo-elements */
}

.middle-bar.open {
  background-color: var(--secondary-color);
  transition: 0.4s;
}

/*NOTE arrow bar pseudo-element */
/* Styles for the arrow appearance using a pseudo-element */
.arrow-bar .bar::after {
  content: ""; /* Required for the pseudo-element to display */
  position: absolute; /* Positions the pseudo-element absolutely within its parent */
  right: -3px; /* Positions the arrow to the right, slightly outside the bar */
  top: -4px; /* Vertically aligns the arrow, adjust to center */
  width: 0; /* Zero width, the arrow is formed by borders */
  height: 0; /* Zero height, the arrow is formed by borders */
  border-style: solid; /* Required to apply border-width and border-color */
  border-width: 6px 0 6px 10px; /* Creates the shape of an arrow */
  border-color: transparent transparent transparent var(--primary-color); /* Colors the left side of the arrow, making it visible */
  transition: 0.5s; /* Smooth transition for the arrow rotation */
}

/*NOTE arrow bar open */
/* Modifies the arrow position and rotation when the .open class is applied */
.arrow-bar.open .bar::after {
  position: absolute; /* Confirms the position is absolute for clarity */
  right: 24px; /* Moves the arrow to the end of the bar */
  top: -4px; /* Keeps the vertical position consistent */
  transform: rotate(
    180deg
  ); /* Rotates the arrow to point in the opposite direction */
  transition: 0.5s; /* Ensures the rotation has a smooth transition */
  border-color: transparent transparent transparent var(--secondary-color);
}
/*!SECTION Hamburger Style - END */

/*SECTION Side Menu Style - BEGIN */
/*NOTE sidebar */
.sidebar {
  position: fixed; /* Fixed positioning to stay in place during scroll */
  left: -250px; /* Initially hidden to the left of the viewport */
  top: 0;
  width: 175px; /* Sidebar width */
  height: 100%; /* Full-height */
  background-color: var(--secondary-color-10); /* Change as needed */
  overflow-x: hidden; /* Prevent horizontal scroll */
  backdrop-filter: blur(5px); /* Apply blur effect to content behind sidebar */
  transition: 0.5s, backdrop-filter; /* Smooth transition for showing/hiding */
  padding-top: 60px; /* Space for content */
  z-index: 1; /* Ensure it's above other content */
}

/*NOTE sidebar open */
/* Class to toggle visibility */
.sidebar.open {
  left: 0; /* Show sidebar */
  z-index: 10;
  backdrop-filter: blur(5px); /* Apply blur effect to content behind sidebar */
}

/*NOTE menu icon click */
.menu-icon {
  cursor: pointer; /* Indicate the icon is clickable */
}

/*NOTE sidebar content */
/* Additional styling for links inside the sidebar */
.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 25px;
  color: var(--secondary-color);
  display: block;
  transition: 0.3s;
}

/*NOTE sidebar content hover */
.sidebar a:hover {
  color: var(--primary-color);
  opacity: 1;
}
/*!SECTION Side Menu Style - END */

/*!SECTION Navigation Menu - END */

/*SECTION Main Content - BEGIN */
/*NOTE Main content */
main {
  color: var(--secondary-color);
  padding: 50px 20px 20px 70px; /* top right bottom left */
  transition: 0.5s; /* Smooth transition for showing/hiding */
}

/*!SECTION Main Content - END */
