.bg {
  background-image: url("../../assets/nebulaBG.webp");
  background-size: cover;
  height: 100dvh;
  width: 100dvw;
  z-index: -1;
}

h1 {
  text-align: center;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 5em;
  text-shadow: 1px 5px 10px #000;
}

.infinite-pixel-copyright {
  top: 30em;
  position: relative;
  text-align: center;
}
