/* Custom Mouse Animation */
.custom-cursor {
  width: 5px;
  height: 5px;
  /* border: 2px solid white; */
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
}

/* Set the outglow to 100px */
.custom-cursor::before {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  background-color: #ffffff10;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
  box-shadow: 0px 0 8px #0054888c;
}

/* Adding a small dot in the center */
.custom-cursor::after {
  content: "";
  display: block;
  width: 2px; /* Size of the center dot */
  height: 2px; /* Size of the center dot */
  background-color: rgb(255, 255, 255); /* Color of the center dot */
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.pixel {
  width: 4px;
  height: 4px;
  position: absolute;
  pointer-events: none;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: background-color 0.3s;
}
@media (max-width: 480px) {
  .custom-cursor {
    display: none;
    border: none;
  }
}
