#root {
  height: 100dvh;
  width: 100dvw;
}

/* Disable mouse pointer for buttons and interactive elements */
body {
  cursor: none;
  /* overflow: hidden; */
  touch-action: manipulation;
}

/* Define the cursor style for specific elements where you want the pointer disabled */
button,
a,
.interactive-element {
  cursor: none !important; /* Add !important to ensure the override */
}

/* dev - properties */
.column {
  border: 1px solid white;
}

/* .grid-cols-12 {
  border: 1px solid white;
} */
