/* disable horizontal scroll */
:root {
  overflow-x: hidden;
}

/* Disable mouse pointer for buttons and interactive elements */
body {
  /* cursor: none; */
  /* overflow: hidden; */
  touch-action: manipulation;
}

/* Add this to your App.css or equivalent file */
.snap-container {
  scroll-snap-type: y mandatory; /* ensure snapping occurs along the y-axis */
  overflow-y: scroll;
  height: 100vh; /* corrected from 100dvh */
  scroll-behavior: smooth; /* enables smooth scrolling */
}

.snap-page {
  animation: none;
  scroll-snap-align: start;
  height: 100svh; /* ensures each snap point is the height of the viewport */
}

/* delay the snap and smoothly bounce it in */
/* .snap-page {
  animation: snap 5s cubic-bezier(1.22, 1, 0.36, 1);
} */
