/* disable horizontal scroll */
:root {
  overflow-x: hidden;
  scrollbar-width: none;
}

/* Disable mouse pointer for buttons and interactive elements */
body {
  /* cursor: none; */
  /* overflow: hidden; */
  /* touch-action: manipulation; */
}

/* Add this to your App.css or equivalent file */
.snap-container {
  scroll-snap-type: y mandatory; /* ensure snapping occurs along the y-axis */
  overflow-y: scroll;
  height: 100vh; /* corrected from 100dvh */
  scroll-behavior: smooth; /* enables smooth scrolling */
}

.snap-page {
  animation: none;
  scroll-snap-align: start;
  height: 100svh; /* ensures each snap point is the height of the viewport */
}

.icon-span {
  padding-right: 8px;
}
