@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5; */
  /* font-weight: 400; */

  color-scheme: light dark; /* Enable light/dark mode */
  color: #fff;
  background-color: #031d37;

  font-synthesis: none; /* Prevent system font fallback */
  text-rendering: optimizeLegibility; /* Optimize for better rendering */
  -webkit-font-smoothing: antialiased; /* Antialias text */
  -moz-osx-font-smoothing: grayscale; /* Antialias text */
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}
